  /* Global CSS */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

  :root {
    --primary: #aa41bf;
    --heading-color: #423737;
    --bg-shade: #f8f5f2;
    --other-shade: #eae5eb;
    --darkblue: #1c1e53;
    --black: #21222f;
    --almost-white: #f8f3f8;
    --white: #ffffff;
  }

  body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: "Montserrat", sans-serif;
    -moz-osx-font-smoothing: "Montserrat", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-shade);
  }

  #Home {
    width: 1400px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .btn {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    padding: 14px 32px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
  }

  .btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
  }

  .btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--primary);
  }

  .btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    margin-top: 1rem;
    padding: .7rem 2.5rem;
  }

  .btn-primary:hover {
    color: var(--primary);
    background-color: var(--white);
  }

  /* Global CSS Ends */




  /* Main Headings */

  /* Heading 1 */
  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
  }

  /* Heading 2 */
  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
  }

  /* Heading 3 */
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }

  /* Pragraphs text large medium small */
  .text-xl {
    color: var(--darkblue);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
  }

  /* Body 1 */
  .text-lg {
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  /* Body 2 */
  .text-md {
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  /* Body 3 */
  .text-sm {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  .text-highlight {
    color: var(--primary);
    font-weight: 500;
  }


  /* Section Titles */
  .section__title {
    color: var(--heading-color);
    font-size: 2.7rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 3.8rem;
  }

  .section__label {
    font-size: 2.5rem;
    display: flex;
    align-items: flex-start;
  }

  p.section__label {
    padding-left: 0px;
    margin-bottom: 1rem;
  }

  /* Skills & About Me */
  .heading {
    color: var(--darkblue);
    font-size: 80px;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -5px;
    padding-left: 10px;
    display: flex;
    justify-content: start;
  }

  /* Portfolio, Testimonial & Contact Me */
  .sub__title {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }

  /* Section Titles Ends */

  /* Navbar Style Start */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 12vw;
    background: var(--bg-shade);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 2px 15px rgb(245, 221, 246);
  }

  .navbar__items>ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    text-decoration: none;
    background-color: var(--bg-shade);
  }

  .navbar__items ul>li>a {
    text-decoration: none;
  }

  /* Navbar Content */
  .navbar__content {
    font-size: 1.3rem;
    color: var(--darkblue);
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }

  .navbar__active-content {
    color: var(--primary);
  }

  .navbar__img {
    font-size: 2.3rem;
    color: var(--primary);
    font-weight: 500;
  }

  /* Navbar Styler Ends */


  /* Hero Section Style */
  .hero__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    background-color: var(--bg-shade);
    height: 80vh;
  }

  .hero__section__img {
    max-width: 50vw;
    /* height: 35rem; */
  }

  .hero__section__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.35rem;
  }

  .hero__section__content__box>button {
    margin-top: 21.333px;
  }

  .hero__section__content__box-left {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .hero__section__content__box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 32px; */
    width: 50%;
  }

  .hero__section__title {
    /* color: var(--heading-color); */
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0px;
    align-self: stretch;
    text-transform: uppercase;
    padding-bottom: 1rem;
    position: relative;
  }

  .hero__section__title::before {
    content: "";
    position: absolute;
    left: 42.8%;
    top: 3.5rem;
    bottom: 0px;
    width: 100%;
    height: 1rem;
    transform: skew(0deg) translateX(-42%);
    background: rgba(170, 65, 191, 0.5);
  }

  .hero__section__title__color {
    color: var(--primary);
  }

  .hero__section-description {
    color: var(--darkblue);
    margin: 25px 0px 16px 8px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 60px;
  }
  /* Hero Section Style Ends */




  /* Skills Section Style */
  .skills__section {
    display: flex;
    justify-content: center;
    padding: 70px 0px;
    gap: 100px;
    width: 100%;
  }

  .skills__section__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  .skills__section__card {
    background: var(--other-shade);
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    border-radius: 10px;
    min-height: 250px;
  }

  .skills__section__card:hover {
    border-bottom: 4px solid var(--primary);
  }

  .skills__section__card:hover,
  .skills__section__description {
    color: var(--darkblue);
  }

  .skills__section__img {
    background: #fff;
    width: 80px;
    display: flex;
    padding: 13.3px;
    justify-content: center;
    align-items: center;
    gap: 13.3px;
    border-radius: 10.6px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  }

  .skills__section__img>img {
    height: 55px;
  }

  .skills__section__card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    min-height: 30vh;
    max-height: 40vw;
  }

  .skills__section__title {
    color: var(--heading-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
  }

  .skills__section__description {
    color: var(--black);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  /* Skills Style Ends */



  /* About Us */
  /* .about__section {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-bottom: 20vh;
}
.about__section__content__box{
  width: 85vw;
  display: flex;
  justify-content: start;
  align-items: center;
}
.about__section__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 21.333px;
}
.about__section-description{
  color: var(--darkblue);
  margin: 10px 0px 10px 8px;
  font-size: 26px;
  font-weight:400;
  width: 100%;
  line-height: 45px;
  letter-spacing: -1px;
} */
  /* About Us Ends */





  /* My Portfolio Starts */
.portfolio__section {
  padding: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio__container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}
.portfolio__section__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.portfolio__section__img {
  border-radius: 8px;
  width: 100%;
}
.portfolio__section__img > img {
  object-fit: cover;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
}
.portfolio__section__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background: var(--almost-white);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.portfolio__section__card__content-outer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.portfolio__section__card__content-inner{
  min-height: 13rem;
}
.portfolio__section__title {
  color: var(--heading-color);
  font-size: 22px;
  margin-bottom: 12px;
}
.tech{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.tech__item{
  background-color: var(--primary);
  color: var(--almost-white);
  padding: 2px 8px;
  margin: .6rem .3rem;
  border-radius: 5px;
  font-size: 16px;
}
.portfolio__link {
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
  text-decoration: none;
}
.portfolio__link > a{
  text-decoration: none;
}
.portfolio__section__card:hover path {
  stroke: #006b6a;
}
  /* Portfolio Ends */




  /* Testimonial */
  /* .testimonial__section {
  display: flex;
  padding: 112px 84.3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
}
.sections__heading {
  color: var(--heading-color);
}
.testimonial__section__card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}
.testimonial__section__card__reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}
.testimonial__section__card__author__detail {
  display: flex;
  align-items: center;
  gap: 21.3px;
}
.testimonial__author__name {
  font-weight: 600;
  color: var(--heading-color);
}
.testimonial__author__designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
} */
  /* Testimonial Ends */


  .contact__section {
  display: flex;
  padding: 150px 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.contact__form__container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  width: 50%;
  row-gap: 15px;
}
.container {
  display: grid;
  row-gap: 16px;
}
.contact__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  width: 100%;
}
.contact__input {
  display: flex;
  font-family: "Montserrat", sans-serif;
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1.333px solid var(--primary);
  background: var(--white);
}
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>') white no-repeat 98.5% !important;
    /* !important used for overriding all other customisations */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>') white no-repeat calc(100% - 20px);
    /* Better placement regardless of input width */
  }

  /* For IE*/
  select::-ms-expand {
  display: none;
}
.checkbox__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10.6px;
  flex: 1 0 0;
  justify-content: flex-start;
}
  /* Contact End */


  /* Footer Starts */
  /* .footer__container {
  display: flex;
  padding: 10px 0px 85.333px;
  flex-direction: column;
  background: var(--bg-shade);
  align-self: stretch;
  width: 100%;
}
.footer__link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.footer__items ul > li > a {
  text-decoration: none;
  cursor: pointer;
}
.footer__social__icon > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
}
.divider {
  margin: 16px;
  height: 1px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}
.footer__content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content {
  color: var(--black);
  font-weight: 400;
  line-height: 28px;
}
.success{
  margin-top: 50px;
  color: var(--darkblue);
  padding: 32px;
  border-radius: 5px;
  border: 1px solid rgb(166, 213, 166);
  background-color: rgb(195, 250, 195);
} */



  /* Responsive Screens */
  @media only screen and (max-width: 1800px) {
    .skills__section__title {
      font-size: 28px;
      line-height: 40px;
    }
  }

  @media only screen and (max-width: 1550px) {

    .hero__section,
    .portfolio__section {
      justify-content: center;
    }

    .hero__section__title {
      line-height: 70px;
    }

    .skills__section {
      justify-content: center;
    }

    .skills__section__container {
      width: 75vw;
      display: flex;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 28px;
    }

    .skills__section__card {
      gap: 28px;
      min-width: 10vw;
      max-width: 30vw;
    }
        /* .about__section {
          justify-content: center;
          align-items: center;
        }
    
        .about__section__content__box {
          justify-content: center;
        }
    
        .about__section__content {
          text-align: justify;
        }
    
        .about__section-description {
          font-size: 22px;
        } */
    
        .portfolio__section__container,
        .portfolio__container-box {
          width: 72vw;
          grid-template-columns: repeat(2, 1fr);
        }
    
        /* .footer__container {
          justify-content: center;
          align-items: center;
        }
    
        .footer__link__container,
        .divider,
        .footer__content__container {
          width: 75%;
          justify-content: space-between;
          padding: 0;
        } */
  }

  @media only screen and (max-width: 1400px) {
    .skills__section__container,
    .about__section,
    .portfolio__section__container,
    .portfolio__container-box,
    .footer__link__container,
    .footer__items>ul,
    .footer__content__container {
      display: grid;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (max-width: 1280px) {
    .heading {
      justify-content: center;
    }

    .btn-outline-primary {
      display: none;
    }

    .hero__section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .hero__section__content__box-left {
      display: flex;
      align-items: center;
    }

    .hero__section,
    .about__section,
    .skills__section {
      padding: 12rem 0px 15vh 0px;
    }

    .hero__section__title,
    .hero__section-description,
    .footer__content {
      /* text-align: center; */
      font-size: 4rem;
      /* line-height: 30px; */
    }

    .hero__section__content__box-left,
    .hero__section__content__box-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .btn-primary {
      width: 100%;
    }

.about__section,
/* .portfolio__section__container,
.portfolio__container-box, */
.footer__link__container,
.footer__items>ul,
.footer__content__container {
  display: flex;
  flex-direction: column;
}
    .skills__section,
    .portfolio__container,
    .hero__section__content,
    .hero__section__content__box {
      /* align-items: center; */
    }

    /* .portfolio__container-box {
    gap: 30px;
    } */
    /* .skills__section,
    .testimonial__section,
    .contact__section,
    .footer__container {
      gap: 20px;
      padding-top: 70px;
      padding-bottom: 70px;
      } */

    /* .testimonial__section__card {
    padding: 25px;
  } */

    /* .section__title,
  .skills__section__heading,
  .sections__heading {
    font-size: 3rem;
    line-height: 75px;
  } */
    .hero__section__content__box {
      gap: 10px;
    }

    /* .contact__form__container {
    width: 75vw;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__social__icon > ul,
  .footer__items > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  } */
  }

  @media only screen and (max-width: 1150px) {
    .portfolio__section__container,
    .portfolio__container-box{
      width: 50%;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media only screen and (max-width: 900px) {

    .hero__section,
    .about__section,
    .skills__section {
      padding: 10rem 0px 300px 0px;
    }

    .hero__section__img>img {
      max-height: 20rem;
    }

    /* .section__title,
  .hero__section__title,
  .skills__section__heading,
  .sections__heading {
    font-size: 65px;
    line-height: 60px;
    margin-top: 5vh;
  } */
    /* .hero__section-description{
    font-size: 25px;
    line-height: 5px;
  } */
    /* .hero__section__title::before {
    top: 54px;
    width: 120px;
  } */
  }

  @media only screen and (max-width: 750px) {
    .skills__section__container,
    .about__section,
    .portfolio__section__container,
    .portfolio__container-box,
    .footer__link__container,
    .footer__items>ul,
    .footer__content__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .skills__section__card{
      min-width: 80%;
    }
  }

  @media only screen and (max-width: 700px) {

    .hero__section,
    .about__section,
    .skills__section {
      /* background-color: lightgrey; */
    }

    .hero__section__content__box-left,
    .hero__section__content__box-right {
      align-items: center;
      gap: 0.35rem;
    }

    .section__title {
      font-size: 2.5rem;
    }

    p.section__label {
      font-size: 2.2rem;
    }
  }

  @media only screen and (max-width: 500px) {

    .hero__section,
    .about__section,
    .skills__section {
      /* background-color: lightgoldenrodyellow; */
    }

    .hero__section__title {
      font-size: 3rem;
    }

    .hero__section__img {
      display: flex;
      justify-content: center;
    }

    .section__title,
    .skills__section__heading,
    .heading,
    .sections__heading {
      font-size: 2rem;
      line-height: 47px;
    }

    .hero__section-description {
      font-size: 22px;
    }
    .portfolio__section__container,
    .portfolio__container-box{
      width: 25%;
    }
  }

  @media only screen and (max-width: 440px) {

    .hero__section,
    .about__section,
    .skills__section {
      /* background-color: lightslategray; */
    }

    .hero__section__title {
      font-size: 2.2rem;
    }

    .hero__section__img {
      max-width: 80vw;
    }

    .hero__section__content__box-left {
      align-items: center;
      justify-content: center;
    }

    .section__title,
    .skills__section__heading,
    .heading,
    .sections__heading {
      font-size: 1.6rem;
      line-height: 47px;
    }
    .portfolio__section__container,
    .portfolio__container-box{
      width: 20%;
    }

  }

  /* Hamburger menu  */

  /* .nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 60px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
} */

  /* @media screen and (max-width: 1200px) {
  .navbar{
    height: 5vh;
    display: flex;
    align-items: center;
  }
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar__items {
    display: flex;
  }
  .navbar__items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar__items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar__items ul li {
    text-align: center;
  }
  .navbar__items ul li a {
    padding: 0.5rem;
  }
  .navbar__items {
    z-index: -1000;
  }
  .navbar__items.active {
    top: 30px;
  }

  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
} */

  /* Responsive Screens Ends*/